html{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}
body{
    background-image:  url(https://c0.wallpaperflare.com/preview/742/447/595/business-information-accounting-application.jpg);
    margin: 30px 50px;
    background-size: cover;
}
img{
    max-width: 100%;
}
.wrapper{
    display: grid;
    grid-gap: 20px;
}
.main-nav ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    padding: 0;
    list-style: none;

}
.main-nav a{
    background-color: rgb(74, 68, 78);
    display: block;
    text-align: center;
    padding: 0.8rem;
    font-size: 20px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.main-nav a:hover{
    color: rgb(14, 14, 12);
    background-color: whitesmoke;
}
.main-con{
display: grid;
grid-template-columns:  1fr;
grid-gap : 20px;
}
footer {
    margin-top: 2rem;
    background: rgb(85, 78, 78);
border: 5px black;    
    text-align: center;
    padding: 1rem;
    color: whitesmoke;
  }
  footer a{
      color: white;
      font-size: 20px;
      text-transform: uppercase;
      padding: 10px;
      margin-right: 10px;
      text-decoration: none;
      background-color:rgb(74, 68, 78); 
  }
  footer a:hover{
      background-color: rgb(247, 247, 244);
      color: black;
  }
  .card{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      padding: 10px;
      
  }
  .card p{
      color: rgb(12, 10, 10);
      font-size: 18px;
      background-color: rgb(190, 155, 14);
  }
      



#employt td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#employt tr:nth-child(even){background-color: #f2f2f2;}

#employt tr:hover {background-color: #ddd;}

#employt th {
 padding: 10px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
#trFoter{
    padding: 10px !important;
    text-align: left !important;
    background-color: #04AA6D !important;
    color: white !important;
}

#employt img{
    width: 50px;
    height: 50px;
    
}
#employt{
width: 100%;

}

.add-person {
    
    padding: 20px;
   width: auto;
  height: 350px;
    border-radius: 5px;
  background-color: rgba(0, 0,0, 0.5);
  font-size: 20px;
  align-items: center;
  color: rgb(5, 5, 5);
  
   
}
input{
    width: 50%;
    border: black 5px;
    border-radius: 5px;
    height: 25px;
    font-size: 16px;
    margin-bottom: 10px;
}
select{
    width: 50%;
    height: 25px;
    margin: 5px;
    font-size: 16px;
}

.Submit{
    margin: 100px;
    width: 50%;
    height: 50px;
    background-color: cadetblue;

}
.Submit:hover{
    background-color: rgb(247, 247, 244);
    color: black;
}
footer samp{
    color: red;
    
}
.dwonload{
    border-radius: 10px;
    width: 100%;
    height: 40px;
    background-color: #04AA6D;
    font-size: 16px;

}
.dwonload:hover{
    background-color: rgb(247, 247, 244);
    color: black;
}